@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #eef2f6;
  --foreground: #0f0f10;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

a {
  transition: color 0.2s ease;
}